html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Brush Script MT', 'Brush Script Std', san-serif, cursive;
  background-image: url('full.jpeg');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.deck {
  width: 520px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  align-items: center;
  padding-inline-start: 0px;
  justify-content: center;
}

.card {
  transform: rotateY(0);
  transition: 0.5s;
  margin: 1px;
  width: 165px;
  height: 165px;
  background: linear-gradient(to bottom, rgb(236, 47, 47) 0%, rgb(137, 12, 12) 100%);
  box-shadow: 5px 5px 24px -3px rgba(0, 0, 0, 0.75);
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
}

.show {
  transform: rotateY(180deg);
  transition: 0.5s;
  background: linear-gradient(to bottom, lightcoral, rgb(195 39 93) 100%);
  box-shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
  font-size: 33px;
  color: white;
  cursor: default;
  text-align: center;
}

.active {
  transform: translate(0, 0) !important;
  background: linear-gradient(to bottom, rgb(236, 47, 47) 0%, rgb(137, 12, 12) 100%);
  position: absolute;
  z-index: 1;
}

.match {
  background: linear-gradient(to bottom, rgb(244 10 77), rgb(150 0 0));
}

.text {
  position: fixed;
  opacity: 0;
  color: white;
  cursor: default;
  text-align: center;
  transition: opacity 1s ease;
}

#wish {
  font-size: 33px;
  /* Black w/opacity/see-through */
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 0 2rem;
}

#red {
  color: #b91b1b;
}

#one {
  font-size: 40px;
  margin: 0px;
  margin-top: 13rem;
  letter-spacing: 5px;
  font-family: 'Optima', 'Coda', san-serif, cursive;
}

#two {
  font-family: 'Optima', serif;
  font-weight: 900;
  font-size: 50px;
  margin: 0px;
  text-shadow: 3px 1px 0 #c1c1c1;
}

#three {
  font-size: 50px;
  margin: 0px;
  font-family: 'Brush Script MT', 'Brush Script Std', san-serif, cursive;
}

.no-match {
  background: rgb(100, 20, 20);
  transition: 0.5s;
}

#slideshow {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#slideshow img {
  display: none;
}

@media screen and (max-width: 900px) {

  body {
    background-image: url('portrait.png');
  }
}

@media screen and (max-width: 600px) {
  .deck {
    width: 255px;
    min-height: 255px;
    padding: 0px;
    justify-content: space-around;
  }

  .card {
    width: 78px;
    height: 78px;
  }

  #slideshow img {
    width: 100%;
  }
}